# Lending Case Study

In [255]:
#Importing the necessary modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Warnings library will be used to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [256]:
#Loading Dataset into a dataframe
# setting the low_memory flag as false as there are 47 columns having mixed types
df = pd.read_csv('loan.csv', low_memory=False)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [257]:
# Loading the Data Dictionary

dd = pd.read_excel('Data_Dictionary.xlsx')

dd.head()

            LoanStatNew                                        Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util              Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

In [258]:
#Shape of our dataset
df.shape

(39717, 111)

In [259]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

### Knowing our Dataset

In [260]:
## Number of rows and columns
print('Number of Columns:',df.shape[1])
print('Number of Rows:',df.shape[0])

## Number of missing values
print('Number of missing values:',df.isnull().sum().sum())

## Number of unique values
print('Number of unique values:',df.nunique().sum())

## Number of duplicates
print('Number of duplicates:',df.duplicated().sum())

Number of Columns: 111
Number of Rows: 39717
Number of missing values: 2263366
Number of unique values: 416800
Number of duplicates: 0

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [262]:
# Knowing Datatypes of each column

df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [263]:
# Bird's Eye view on our data set
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

## Data Understanding

As we know our goal is to analyse the loan applicants which are likely to default and would be financial loss to the lending club.
Hence the columns having data, after the loan was approved does not have any relevance to our analysis

Following are the columns which have no relevance to our analysis as they have data, after the loan was approved

- delinq_2yrs - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
- earliest_cr_line - The month the borrower's earliest reported credit line was opened
- inq_last_6mths - The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
- open_acc - The number of open credit lines in the borrower's credit file.
- pub_rec - Number of derogatory public records
- revol_bal - Total credit revolving balance
- revol_util - Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
- total_acc - The total number of credit lines currently in the borrower's credit file
- out_prncp - Remaining outstanding principal for total amount funded
- out_prncp_inv - Remaining outstanding principal for portion of total amount funded by investors
- total_pymnt - Payments received to date for total amount funded
- total_pymnt_inv - Payments received to date for portion of total amount funded by investors
- total_rec_prncp - Principal received to date
- total_rec_int - Interest received to date
- total_rec_late_fee - Late fees received to date
- recoveries - post charge off gross recovery
- collection_recovery_fee - post charge off collection fee
- last_pymnt_d - Last month payment was received
- last_pymnt_amnt - Last total payment amount received
- last_credit_pull_d - The most recent month LC pulled credit for this loan
- application_type - Indicates whether the loan is an individual application or a joint application with two co-borrowers

In [264]:
df=df.drop(['delinq_2yrs','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','application_type'],axis=1)

In [265]:
df.shape

(39717, 90)

In [266]:
df.zip_code

0        860xx
1        309xx
2        606xx
3        917xx
4        972xx
         ...
39712    802xx
39713    274xx
39714    017xx
39715    208xx
39716    027xx
Name: zip_code, Length: 39717, dtype: object

Zip code is having masked data hence it is of no use to us and should be removed

In [267]:
df=df.drop(['zip_code'],axis=1)

In [268]:
df.shape

(39717, 89)

In [269]:
df[['title','emp_title','desc','url']]

,title,emp_title,desc,url
0,Computer,NaN,Borrower added on 12/22/11 > I need to upgra...,https://lendingclub.com/browse/loanDetail.acti...
1,bike,Ryder,Borrower added on 12/22/11 > I plan to use t...,https://lendingclub.com/browse/loanDetail.acti...
2,real estate business,NaN,NaN,https://lendingclub.com/browse/loanDetail.acti...
3,personel,AIR RESOURCES BOARD,Borrower added on 12/21/11 > to pay for prop...,https://lendingclub.com/browse/loanDetail.acti...
4,Personal,University Medical Group,Borrower added on 12/21/11 > I plan on combi...,https://lendingclub.com/browse/loanDetail.acti...
...,...,...,...,...
39712,Home Improvement,FiSite Research,Our current gutter system on our home is old a...,https://lendingclub.com/browse/loanDetail.acti...
39713,Retiring credit card debt,"Squarewave Solutions, Ltd.",The rate of interest and fees incurred by carr...,https://lendingclub.com/browse/loanDetail.acti...
39714,MBA Loan Consolidation,NaN,NaN,https://lendingclub.com/browse/loanDetail.acti...
39715,JAL Loan,NaN,NaN,https://lendingclub.com/browse/loanDetail.acti...
39716,Consolidation Loan,Evergreen Center,"I plan to consolidate over $7,000 of debt: a c...",https://lendingclub.com/browse/loanDetail.acti...

As we can see above, these columns are having random values and we wont be able to draw any analysis on it, hence should be removed

In [270]:
df=df.drop(['title','emp_title','desc','url'],axis=1)

In [271]:
df.shape

(39717, 85)

In [272]:
# Since member id is a duplicate index column and should be removed
df=df.drop(['member_id'], axis=1)

In [273]:
df.shape

(39717, 84)

Removing Funded Amount column i.e funded_amnt_inv as its for internal purposes only, hence insignificant to our analysis

In [274]:
df=df.drop(['funded_amnt_inv'], axis=1)

In [275]:
df.shape

(39717, 83)

## Data Cleaning

#### Cleaning the Rows and columns having large number of null values

In [276]:
#counting the percentage of null values in each column
null_count=df.isnull().sum()
length=len(df.index)

total_null_percent=round((null_count/length)*100,2)

In [277]:
total_null_percent[total_null_percent>0]

emp_length                      2.71
mths_since_last_delinq         64.66
mths_since_last_record         92.99
next_pymnt_d                   97.13
collections_12_mths_ex_med      0.14
                               ...
tax_liens                       0.10
tot_hi_cred_lim               100.00
total_bal_ex_mort             100.00
total_bc_limit                100.00
total_il_high_credit_limit    100.00
Length: 62, dtype: float64

In [278]:
#We can see there are 68 columns which are having some missing values
# Now we do not intend to drop all of them, instead we will only drop the columns which are having more than 50% of missing values
len(total_null_percent[total_null_percent>50])

57

In [279]:
# Dropping the 58 columns in our dataset which have more than 50% of missing values
df.drop(total_null_percent[ total_null_percent > 50 ].index, axis=1, inplace=True)

In [280]:
df.shape

(39717, 26)

In [281]:
#Verifying the columns cleaned of null values

(df.isnull().sum()/len(df.index)*100).round(2).sort_values(ascending=False)

emp_length                    2.71
pub_rec_bankruptcies          1.75
chargeoff_within_12_mths      0.14
collections_12_mths_ex_med    0.14
tax_liens                     0.10
pymnt_plan                    0.00
delinq_amnt                   0.00
acc_now_delinq                0.00
policy_code                   0.00
initial_list_status           0.00
dti                           0.00
addr_state                    0.00
purpose                       0.00
id                            0.00
loan_amnt                     0.00
issue_d                       0.00
verification_status           0.00
annual_inc                    0.00
home_ownership                0.00
sub_grade                     0.00
grade                         0.00
installment                   0.00
int_rate                      0.00
term                          0.00
funded_amnt                   0.00
loan_status                   0.00
dtype: float64

Now we have removed the columns which contained more than 50% missing values as they would've reduce impacted the accuracy of the analysis.

In [282]:
df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment',
       'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'purpose', 'addr_state', 'dti', 'initial_list_status',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens'],
      dtype='object')

In [283]:
# Finding the number of missing values in rows
df.isnull().sum(axis=1).sort_values(ascending=False)

39716    4
39687    4
39694    4
39693    4
39692    4
        ..
13477    0
13478    0
13479    0
13480    0
19858    0
Length: 39717, dtype: int64

Maximum number of missing values in a row is 6 which is very low, hence removing them would be insignificant for our analysis. Lets move ahead

Now columns which are having only one unique value are also insignificant to our analysis as neither univariate nor bivariate analysis can be performed on them, hence should be removed

In [284]:
df.nunique().sort_values()

tax_liens                         1
pymnt_plan                        1
collections_12_mths_ex_med        1
policy_code                       1
initial_list_status               1
chargeoff_within_12_mths          1
delinq_amnt                       1
acc_now_delinq                    1
term                              2
verification_status               3
pub_rec_bankruptcies              3
loan_status                       3
home_ownership                    5
grade                             7
emp_length                       11
purpose                          14
sub_grade                        35
addr_state                       50
issue_d                          55
int_rate                        371
loan_amnt                       885
funded_amnt                    1041
dti                            2868
annual_inc                     5318
installment                   15383
id                            39717
dtype: int64

These are the columns which should be removed as they are having only one unique value

tax_liens                         
pymnt_plan                        
collections_12_mths_ex_med        
policy_code                       
initial_list_status               
chargeoff_within_12_mths          
delinq_amnt                       
acc_now_delinq

In [285]:
df.drop(['tax_liens', 'delinq_amnt', 'chargeoff_within_12_mths', 'acc_now_delinq', 'policy_code', 'collections_12_mths_ex_med', 'initial_list_status', 'pymnt_plan'],
         axis=1, inplace=True)

In [286]:
df.shape

(39717, 18)

In [287]:
df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment',
       'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'pub_rec_bankruptcies'],
      dtype='object')

Now that we have the relevant columns for our analysis, we should move further to clean our data of null or missing values

#### Handling Null Values

In [288]:
# Counting the missing or null values in each column
df.isnull().sum().sort_values(ascending=False)

emp_length              1075
pub_rec_bankruptcies     697
annual_inc                 0
dti                        0
addr_state                 0
purpose                    0
loan_status                0
issue_d                    0
verification_status        0
id                         0
loan_amnt                  0
sub_grade                  0
grade                      0
installment                0
int_rate                   0
term                       0
funded_amnt                0
home_ownership             0
dtype: int64

Following are the two columns with null values, which needs to be handled as per our analysis objective

- emp_length              
- pub_rec_bankruptcies

In [289]:
#Analysing the emp_length column
df.emp_length.value_counts()

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64

In [290]:
#Analysing the pub_rec_bankruptcies column
df.pub_rec_bankruptcies.value_counts()

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64

We can come to this conclusion that for 'emp_lenngth', no other value can be substituted as the distribution is fair, hence removing the null values would be the best approach

For 'pub_rec_bankruptcies' as mostly all the values are 0.0, hence subtituting 0.0 in place of missing values would be the best approach and it would not impact our analysis

In [291]:
df.dropna(subset=['emp_length'],inplace=True)

In [292]:
df.shape

(38642, 18)

In [293]:
# Inserting 0 for null values in pub_rec_bankruptcies column
df.pub_rec_bankruptcies.fillna(0,inplace=True)

In [294]:
df.shape

(38642, 18)

#### Handling Duplicate Rows

In [295]:
df.duplicated().sum()

0

Observation - There were no duplicate rows in our dataset

#### Handling Data Types of Columns

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  object
 4   int_rate              38642 non-null  object
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  object
 7   sub_grade             38642 non-null  object
 8   emp_length            38642 non-null  object
 9   home_ownership        38642 non-null  object
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: float64(4), int64(3), object(11)
memory usage: 5.6+ MB

Info - Analysing columns, one by one and fixing them if needed, id, loan_amount and funded_amnt are in int64 datatype hence need not to be checked, we will start from term

In [297]:
df.term

0         36 months
1         60 months
2         36 months
3         36 months
4         60 months
            ...
39712     36 months
39713     36 months
39714     36 months
39715     36 months
39716     36 months
Name: term, Length: 38642, dtype: object

Observation - term column consists of ' months' as an extra value 

Action Needed - ' months' needs to be removed and then the column datatype should be converted to int

In [298]:
df.term=df.term.apply(lambda x: int(x.replace(' months',''))).astype(int)

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  object
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  object
 7   sub_grade             38642 non-null  object
 8   emp_length            38642 non-null  object
 9   home_ownership        38642 non-null  object
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: float64(4), int64(4), object(10)
memory usage: 5.6+ MB

In [300]:
# Now lets check int_rate
df.int_rate

0        10.65%
1        15.27%
2        15.96%
3        13.49%
4        12.69%
          ...
39712     8.07%
39713    10.28%
39714     8.07%
39715     7.43%
39716    13.75%
Name: int_rate, Length: 38642, dtype: object

Observation - int_rate values consists of an extra "%" character

Action Needed - "%" needs to be removed from values of int_rate column and conversion of datatype of column to float, rounded off to 2 decimal places

In [301]:
df.int_rate=df.int_rate.apply(lambda x:str(x).replace('%','')).astype('float').round(2)

In [302]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  object
 7   sub_grade             38642 non-null  object
 8   emp_length            38642 non-null  object
 9   home_ownership        38642 non-null  object
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 5.6+ MB

In [303]:
df.grade=df.grade.astype('category')

In [304]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  category
 7   sub_grade             38642 non-null  object
 8   emp_length            38642 non-null  object
 9   home_ownership        38642 non-null  object
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: category(1), float64(5), int64(4), object(8)
memory usage: 5.3+ MB

In [305]:
df.sub_grade

0        B2
1        C4
2        C5
3        C1
4        B5
         ..
39712    A4
39713    C1
39714    A4
39715    A2
39716    E2
Name: sub_grade, Length: 38642, dtype: object

In [306]:
df.sub_grade=df.sub_grade.astype('category')

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  category
 7   sub_grade             38642 non-null  category
 8   emp_length            38642 non-null  object
 9   home_ownership        38642 non-null  object
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: category(2), float64(5), int64(4), object(7)
memory usage: 5.1+ MB

In [308]:
df.emp_length.value_counts()

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64

Observation - Most of the values are having 'year' or 'years' as extra column while others are having special characters like '+' and '<' as well

Action needed - 'year' and 'years' needs to be removed, '<' and '+' special characters be removed

In [309]:
df.emp_length=df.emp_length.apply(lambda x: x.replace('years','').replace('+','').replace('< 1','0.5').replace('year','')).astype(float)

In [310]:
df.emp_length.value_counts()

emp_length
10.0    8879
0.5     4583
2.0     4388
3.0     4095
4.0     3436
5.0     3282
1.0     3240
6.0     2229
7.0     1773
8.0     1479
9.0     1258
Name: count, dtype: int64

In [311]:
df.home_ownership.value_counts()

home_ownership
RENT        18488
MORTGAGE    17212
OWN          2841
OTHER          98
NONE            3
Name: count, dtype: int64

In [312]:
df.home_ownership=df.home_ownership.astype('category')

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  category
 7   sub_grade             38642 non-null  category
 8   emp_length            38642 non-null  float64
 9   home_ownership        38642 non-null  category
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  object
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: category(3), float64(6), int64(4), object(5)
memory usage: 4.8+ MB

In [314]:
df.annual_inc

0         24000.0
1         30000.0
2         12252.0
3         49200.0
4         80000.0
           ...
39712    110000.0
39713     18000.0
39714    100000.0
39715    200000.0
39716     22000.0
Name: annual_inc, Length: 38642, dtype: float64

In [315]:
df.verification_status.value_counts()

verification_status
Not Verified       16498
Verified           12353
Source Verified     9791
Name: count, dtype: int64

In [316]:
df.verification_status=df.verification_status.astype('category')

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  category
 7   sub_grade             38642 non-null  category
 8   emp_length            38642 non-null  float64
 9   home_ownership        38642 non-null  category
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  category
 12  issue_d               38642 non-null  object
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
dtypes: category(4), float64(6), int64(4), object(4)
memory usage: 4.6+ MB

In [318]:
df.issue_d

0        Dec-11
1        Dec-11
2        Dec-11
3        Dec-11
4        Dec-11
          ...
39712    Jul-07
39713    Jul-07
39714    Jul-07
39715    Jul-07
39716    Jun-07
Name: issue_d, Length: 38642, dtype: object

In [319]:
#Converting issue_d column to date time
df.issue_d=pd.to_datetime(df.issue_d,format='%b-%y')

In [320]:
df.issue_d

0       2011-12-01
1       2011-12-01
2       2011-12-01
3       2011-12-01
4       2011-12-01
           ...
39712   2007-07-01
39713   2007-07-01
39714   2007-07-01
39715   2007-07-01
39716   2007-06-01
Name: issue_d, Length: 38642, dtype: datetime64[ns]

Extracting 2 more columns from issue_d column, namely issue_year, issue_month

In [321]:
df['issue_year']=pd.to_datetime(df.issue_d,format='%b-%y').dt.year

In [322]:
df['issue_month']=pd.to_datetime(df.issue_d,format='%b-%y').dt.month

In [323]:
df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment',
       'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'pub_rec_bankruptcies', 'issue_year',
       'issue_month'],
      dtype='object')

In [324]:
df.issue_year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
39712    2007
39713    2007
39714    2007
39715    2007
39716    2007
Name: issue_year, Length: 38642, dtype: int32

In [325]:
df.issue_month

0        12
1        12
2        12
3        12
4        12
         ..
39712     7
39713     7
39714     7
39715     7
39716     6
Name: issue_month, Length: 38642, dtype: int32

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38642 non-null  int64
 1   loan_amnt             38642 non-null  int64
 2   funded_amnt           38642 non-null  int64
 3   term                  38642 non-null  int64
 4   int_rate              38642 non-null  float64
 5   installment           38642 non-null  float64
 6   grade                 38642 non-null  category
 7   sub_grade             38642 non-null  category
 8   emp_length            38642 non-null  float64
 9   home_ownership        38642 non-null  category
 10  annual_inc            38642 non-null  float64
 11  verification_status   38642 non-null  category
 12  issue_d               38642 non-null  datetime64[ns]
 13  loan_status           38642 non-null  object
 14  purpose               38642 non-null  object
 15  addr_state            38642 non-null  object
 16  dti                   38642 non-null  float64
 17  pub_rec_bankruptcies  38642 non-null  float64
 18  issue_year            38642 non-null  int32
 19  issue_month           38642 non-null  int32
dtypes: category(4), datetime64[ns](1), float64(6), int32(2), int64(4), object(3)
memory usage: 4.9+ MB

In [327]:
df.purpose=df.purpose.astype('category')

In [328]:
df.addr_state=df.addr_state.astype('category')

In [329]:
# Setting decimal point limit for all data 
for x in df.columns:
    if(df[x].dtype=='float64'):
      df[x]=df[x].round(2)
      
df.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,pub_rec_bankruptcies,issue_year,issue_month
0,1077501,5000,5000,36,10.65,162.87,B,B2,10.0,RENT,24000.0,Verified,2011-12-01,Fully Paid,credit_card,AZ,27.65,0.0,2011,12
1,1077430,2500,2500,60,15.27,59.83,C,C4,0.5,RENT,30000.0,Source Verified,2011-12-01,Charged Off,car,GA,1.00,0.0,2011,12
2,1077175,2400,2400,36,15.96,84.33,C,C5,10.0,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,small_business,IL,8.72,0.0,2011,12
3,1076863,10000,10000,36,13.49,339.31,C,C1,10.0,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,other,CA,20.00,0.0,2011,12
4,1075358,3000,3000,60,12.69,67.79,B,B5,1.0,RENT,80000.0,Source Verified,2011-12-01,Current,other,OR,17.94,0.0,2011,12

In [330]:
df.isnull().sum()

id                      0
loan_amnt               0
funded_amnt             0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
purpose                 0
addr_state              0
dti                     0
pub_rec_bankruptcies    0
issue_year              0
issue_month             0
dtype: int64

Now that we have handled the null values, lets remove the outliers